.App {
  text-align: center;
  margin-top: 50px;
}

.status {
  font-size: 24px;
  margin-bottom: 10px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  justify-content: center;
}

.square {
  width: 100px;
  height: 100px;
  font-size: 46px;
  border: 3px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f50b0b;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.square:hover {
  background-color: #e95e5e;
}

.game-info {
  margin-top: 20px;
  font-size: 18px;
}

.game-info ol {
  padding-left: 20px;
}

.game-info li {
  margin-bottom: 5px;
}

.restart-button {
  margin-top: 10px;
  font-size: 18px;
  padding: 5px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.restart-button:hover {
  background-color: #0056b3;
}
